@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-bg-header: #6F61C0;
  --clr-btn: #3D8361;
  --clr-dropdown: #1C6758;
  --clr-nav-hover: #1E6F5C;
  --clr-dropdown-hov: #289672;
  --clr-dropdown-link-hov: #29BB89;
  --clr-light: #FAFAFA;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Open Sans',sans-serif;
  background-color: #B9B4C7;
}
